.homepage{
    background-color: #CEF0F9;
    height: 100%;
    overflow: auto;
}
html, body {
    height: 100% !important;
}
#nav {
    background-color: #065c72 !important;
}
ul li a{
    color: white;
}
.homepage h1 {
    margin-top: 200px;
    
    margin-left: 325px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
    border:5px solid black;
    width: 50%
}
.home-text {
    margin-left: 390px;
    margin-bottom: 300px;
}
footer h3 {
    margin-left: 500px !important;
    color: white !important;
    font-weight: bold !important;
}
.pray {
    margin-left: 525px;
}
footer {
    background-color: #065c72 !important;
}
#know {
    margin-top: 50px;
    margin-bottom: 50px;
}
.pray {
    margin-bottom: 100px;
}
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#box {
    flex: 0 1 30%;
    margin-bottom: 100px;
}
footer h2 {
    color: white;
}

