body {
    background-color: rgb(241, 234, 234);
}

.bg-light {
    background-color: cornflowerblue !important;
    color: cornsilk;
}

img {
    display: block;
    margin: 0 auto;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;

}

p {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 24px 24px auto;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 24px;
}

